

#medecingéné{ 
 background-color: red;
 padding: 40px;
}

#SectionEnseignants{ 
   
    margin-top: 150px;
    }

.Enseignants{ 
   
    background-color: blueviolet;
    padding: 30px;
    
    margin: 40px;

    border-radius: 40px;
    }

    .Enseignants.image{

margin-top: 50px;

    }


    .btn-light{

        margin-right: 50px;
        
            }

    
    