

#medecingéné{ 
 background-color: red;
 padding: 40px;
}


.Enseignants{ 
    background-color: blueviolet;
    padding: 30px;
    margin: 40px;
    border-radius: 20px;
    }

    .Enseignants.image{

margin-top: 50px;

    }


    

    
    