#header{
    background-color: white;
    color:blue;
    width: 100%;
    float: left;
    text-align: center;
    padding: 5px;
}

.logo1{
    right: 32%;
    position: absolute;
    bottom: 81%; 
}
.logo{
    right: 32%;
    position: absolute;
    bottom: 81%; 
    margin: 5px;  
}

#nav{
    background-color: white; 
    color:black;
    width: 100%;
    float :left;
    text-align: center;
    padding: 5px;
    
}

#section{
    background-color: white;
    color:black;
    width: 100%;
    float :right;
    height: 830px;
    text-align: center;
    padding: 5px;
}

#event{
    text-align: start;
}

#medecingéné{
    background-color: white;
    color:black;
    width: 100%;
    float :right;
    height: 600px;
    text-align: center;
    padding: 5px;
}

#footer{
    color:black;
    width: 100%;
    float :right;
    text-align: center;
    clear: both;
    padding: 25px;
    position: absolute;
}

#footer1{
    color:black;
    width: 100%;
    float :right;
    clear: both;
    padding: 15px;
    position: absolute;
}

#medecin{
    float: right;
    
}

#tableau {
    background-color: rgb(45, 141, 220);
    float: left;
    
}

#map{
    float: right;
    padding: 15px;

}



input {
    width : 250px;
    height: 100;
    margin: 5px;
    padding: 10px;
    color :black;
    position: relative;
}

#retour{
    background-color: red;
    float :right
}

#rdv{
    background-color: rgb(118, 206, 118);
}