#header{
    background-color: white;
    color:blue;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: large;
    padding-bottom: 27px;
}

.logo {
    right: 35%;
    position: absolute;
    bottom: 82%;
}

#nav{
    background-color: white; 
    color:black;
    width: 100%;
    text-align: center;
    padding: 5px;
}

#section{
    background-color: white;
    color:black;
    width: 100%;
    float :right;
    height: 720px;
    text-align: center;
    padding: 5px;
}

#footer{
    color:black;
    width: 100%;
    float :right;
    text-align: center;
    clear: both;
}

#event {
    text-align: start;
}

#tableau {
    background-color: rgb(23, 178, 209);
    float: left;
}

#map{
    right: 50%;
}