#header{
    background-color: white;
    color:blue;
    width: 100%;
    float: left;
    text-align: center;
    padding: 5px;
    font-size: large;
}

.logo {
    right: 37%;
    padding-left: 10px;
    position: absolute;
}

#nav{
    background-color: white; 
    color:black;
    width: 100%;
    float :left;
    text-align: center;
    padding: 5px;
    
}

#section{
    background-color: white;
    color:black;
    width: 100%;
    float :right;
    height: 400px;
    text-align: center;
    padding: 5px;
    padding-bottom: 350px;
}

#footer{
    color:black;
    width: 100%;
    float :right;
    text-align: center;
    clear: both;
}



#tableau {
    background-color: rgb(23, 178, 209);
    float: left;
}

#map{
    right: 50%;

}