body{
	width: 1000px;
}
h1{
	color:black;
	padding-left: 200px;
	font-weight:bold;
	text-align: center;
}
h2{
	color:orange;
	padding-left: 200px;
	font-weight:bold;
	text-align: center;
}
form{
  
	border: 1px solid orange;
	padding:10px;
	background-color:orange;
  padding-left: 300px;
  
}
p{
	width:400px;
	padding-left: 305px;
	text-align: left;
	vertical-align: top;
}
label.left{
	float: left;
	margin-left: -305px;
	font-weight:bold;
}


